@import '../../styles/global.scss';

.container {

    .form {
        position: relative;

        .fieldsContainer {
            @include flexRow();
            flex-wrap: wrap;

            .field {
                @include flexCol(flex-start, flex-start);
                gap: 5px;
                padding: 10px;
                @include content;

                select, input {
                    min-width: 20vw;
                    background-color: $baseColor;
                    padding: 10px;
                    border-radius: 10px;
                    color: black;
                    border: none;
                    outline: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                }

                .error {
                    min-height: 20px;
                    color: $secondaryColor ;
                }
            }

            @media only screen and (max-width: 600px) {
                flex-direction: column !important;

                .field {
                    select {
                        min-width: 65vw;
                    }
                }
            }
        }

        .submitButton {
            @include flexRow();
            @include content;
            border: none;
            cursor: pointer;
            color: $baseColor;
            border-radius: 4px;
            padding: 0.5rem 1rem;
            background-color: $secondaryColor;
            position: absolute;
            bottom: 0;
            right: 1rem;
            bottom: -2rem;
            border: 1px solid $secondaryColor;


            &:hover {
                border: 1px solid white;
            }
        }
    }
}