@import '../../styles/global.scss';

.container {
    @include flexCol();
    position: relative;

    .sectionOne {
        background-image: url('../../assets/homeBg.jpg');
        width: 100%;
        height: auto;
        min-height: 60vh;
        background-size: cover;
        @include flexCol(flex-start, center);
        padding: 2% 2% 10% 10%;
        gap: 1rem;
        color: $primaryColor;

        .title {
            @include heading;
            font-size: 3rem;
        }

        .heading {
            @include heading;
        }

        .subHeading {
            @include flexRow(center, center);
            gap: 5px;
            @include subHeading;
            color: $secondaryColor;
            cursor: pointer;
        }
    }

    .sectionTwo {
        width: 100%;
        background-color: #FFEDE7;
        min-height: 20vh;
        padding-top: 3.5rem;
    }

    .sectionThree {
        width: 80%;
        position: absolute;
        bottom: 10rem;
        color: $baseColor;
        background-color: $primaryColor;
        min-height: 15vh;
        border-radius: 5px;
    }

    @media only screen and (max-width: 600px) {
        .sectionThree {
            bottom: 6.5rem;
        }
    }
}