@import '../../styles/global.scss';

.container {
    @include flexCol();
    position: relative;

    .sectionOne {
        background-image: url('../../assets/homeBg.jpg');
        width: 100%;
        height: auto;
        min-height: 60vh;
        background-size: cover;
        @include flexCol(flex-start, center);
        padding: 2% 2% 10% 10%;
        gap: 1rem;
        color: $primaryColor;

        .title {
            @include heading;
            font-size: 3rem;
        }

        .heading {
            @include heading;
        }

        .subHeading {
            @include flexRow(center, center);
            gap: 5px;
            @include subHeading;
            color: $secondaryColor;
            cursor: pointer;
        }
    }

    .sectionTwo {
        width: 100%;
        background-color: #FFEDE7;
        min-height: 20vh;

        .heading {
            @include heading;
            text-align: center;
        }

        .steps {
            @include flexRow(center, space-around);
            gap: 25px;
            padding: 1rem;

            .processContainer {
                @include flexRow();
                min-height: 15vh;
                min-width: 25%;
                gap: 25px;

                .process {
                    @include flexRow();
                    gap: 15px;

                    .subSection {
                        @include flexCol(flex-start, center);
                        gap: 10px;

                        .subHeading {
                            @include subHeading;
                        }
                    }
                }
            }


            @media only screen and (max-width: 900px) {
                padding: 2rem;
                @include flexCol(flex-start, center);
                gap: 25px;

                .processContainer {
                    align-items: flex-start;
                    flex-direction: column;
                }

                svg {
                    margin-left: 10px;
                    transform: rotate(90deg);
                }

            }
        }

    }

    .sectionThree {

        background-color: #FFEDE7;
        width: 100%;
        @include flexRow();
        position: relative;
        padding: 3rem 0;
        min-height: 20vh;

        .banner {
            width: 80%;
            bottom: 3rem;
            color: $baseColor;
            background-color: $primaryColor;
            min-height: 15vh;
            border-radius: 5px;
            padding: 1rem;

            .heading {
                @include heading;
                text-align: center;
            }


        }

    }
}