@import '../../styles/global.scss';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    
    .content {
        text-align: center;
        @include flexCol();

        .title {
            @include heading;
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        .description {
            @include subHeading;
            font-size: 1rem;
            color: #777;
            margin-bottom: 2rem;
        }

        img{
            width: 50%;
            object-fit: cover;
        }


        .button {
             margin-top: 20px;
            padding: 0.8rem 2rem;
            font-size: 1rem;
            color: #fff;
            background-color: $secondaryColor;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $primaryColor;
            }
        }
    }
}